services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ=Asia/Shanghai

  # Avahi - 用于 HomeKit mDNS 广播
  avahi:
    container_name: avahi
    image: flungo/avahi:latest
    network_mode: host
    volumes:
      - ./avahi:/etc/avahi
    restart: unless-stopped
    environment:
      - AVAHI_HOST_NAME=homeassistant
